    :root {
        --primary-background-color: #191A1C;
        --secondary-background-color: #26282B;
        --important-background-color: #483d66;
        --primary-text-color: #e6ebf2;
        --secondary-text-color: #a9b4c4;
        --important-text-color: #CE6B39;
        --text-muted: #6f7d91;
    }





 @-moz-document url-prefix("https://climoilou.omnivox.ca/intr/") {


        /**
            =============
            Accueil
            =============
        **/
        body,
        body a,
        .ovx10_lienService,
        #headerNavbarProfileUserName {
            color: var(--primary-text-color) !important;
            font-weight: normal !important;
            font-family: Roboto;
        }

        #headerFixedBar,
        #spRightSize,
        #spLeftSize,
        #QuoiDeNeufsWrapper {
            background-color: var(--primary-background-color) !important;
        }

        #calendrierEvenement-filtres {
            color: var(--primary-background-color) !important;
        }

        .headerLeaRetour:hover,
        .headerNavbarLink:hover,
        #headerOmnivoxLogol:hover,
        #wrapper-headerOmnivoxLogo:hover {
            background-color: var(--secondary-background-color) !important;
        }

        .nb-nouveautes {
            background-color: var(--important-background-color) !important;
            color: var(--secondary-text-color);
        }


        .aNavigationTab,
        .ovx_sepClass {
            color: var(--important-text-color) !important;
        }


        #headerImage {
            background-image: url("https://i.imgur.com/NsuetyD.png") !important;
            background-color: var(--primary-background-color) !important;
        }


        .carte-actualite .carte-portail-header,
        .UlMobileTitre {
            display: none;
        }

        .carte-actualite {
            height: 120px
        }

        #ovx10_header_QDN {
            visibility: hidden;
            position: relative;
        }

        #ovx10_header_QDN::after {
            content: "Travaux et documents";
            visibility: visible;
            color: var(--primary-text-color);
            position: absolute;
            left: 0;
            top: 0;
        }

        .carte-QDN {
            border: 3px solid var(--important-text-color) !important;
        }

        .carte-QDN .carte-portail-header {
            background: none !important;
        }


        .ovx10_headerPart,
        .ovx_sepClass {
            border-bottom: solid 5px var(--secondary-background-color) !important;
            border-radius: 5px !important
        }


        .ovx10_offreServices {
            background-color: var(--secondary-background-color);
            margin: 10px 0px 0px 0px;
            padding: 10px;
            border-radius: 5px
        }

        .ovx_sepClass {
            margin-top: 10px !important;
        }


        .slider-portail-zone.slider-portail-zone-next.regular-content {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--primary-background-color));
        }

        .slider-portail-zone.slider-portail-zone-previous.regular-content {
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0), var(--primary-background-color));
        }

        .carte-portail,
        .card-with-icon {
            background-color: var(--secondary-background-color) !important;
        }

        .carte-portail-titre,
        .carte-portail-header {
            color: white !important;
        }
        .carte-portail-desc {
            color: rgb(188, 188, 188) !important;
        }

        .carte-portail-header {
            background-color: var(--secondary-background-color) !important;
        }

        


        /** Couleur des icones **/
        .parent-image-btn-header img,
        .svg-icon svg {
            filter: brightness(0) saturate(100%) invert(21%) sepia(18%) saturate(873%) hue-rotate(222deg) brightness(94%) contrast(92%) !important;
        }
     
        a .svg-icon {
            background-color: var(--secondary-background-color) !important;
        }
    }


       @-moz-document url-prefix("https://climoilou.omnivox.ca/Login/Account/") {

        /** 
            ========================
            LOGIN PAGE 
            ========================
        **/
        body {
            background-image: none !important;
            min-height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 100% !important;
            width: 100%;
        }


        .container-roles {
            border: 2px solid var(--important-background-color) !important;
        }

        .recaptcha-trigger:disabled {
            color: var(--important-text-color) !important;
            background-color: var(--secondary-background-color) !important;
        }



        .title,
        .subtitle a {
            color: var(--primary-text-color) !important;
        }

        .carousel-identification-sso {
            display: none;
        }

        body,
        .identification-intraflex {
            background-color: var(--primary-background-color) !important;
            max-height: 400% !important;
        }

        .service {
            background-color: var(--secondary-background-color) !important;
        }

        #section-form {
            color: var(--important-background-color) !important;
        }

        .section-login {
            border-radius: 10px;
            padding: 10px;

            background-color: var(--secondary-background-color) !important;
        }

        html body button {
            color: var(--important-text-color) !important;
            background-color: var(--primary-background-color) !important;
        }

        .footer-identification-intraflex {
            margin-bottom: 0px !important;
        }

        .container-message-logout {
            display: none !important;
        }

        .msg-erreur .card-panel {
            background-color: var(--primary-background-color) !important;
            border: 3px solid var(--important-background-color)
        }

        .msg-erreur .card-panel .red-text {
            color: var(--important-text-color);
        }

        #role-2 {
            background-color: var(--primary-background-color);
            border-right: 1px solid var(--important-background-color);
            color: var(--important-text-color);
        }

        #role-3 {
            background-color: var(--primary-background-color);
            border-left: 1px solid var(--important-background-color);
            color: var(--important-text-color);
        }

        .selected {
            background-color: var(--important-text-color) !important;
            color: var(--important-background-color) !important;
            font-weight: 300 !important;
        }

        .div-identifiant *,
        .div-password * {
            color: var(--primary-text-color) !important;
        }
    }

    @-moz-document url-prefix("https://climoilou-lea.omnivox.ca/") {


        /**
            =============
            Lea
            =============
        **/
        body,
        #headerFixedBar {
            background-color: var(--primary-background-color) !important;
            
        }
        
        body * {
            background-image : none !important; ;
        }
        
        body {
            height : 100px !important;
        }
        
        br {
            display: none;
        }
        
        /** Couleur des icones **/
        .parent-image-btn-header img,
        .svg-icon svg {
            filter: brightness(0) saturate(100%) invert(21%) sepia(18%) saturate(873%) hue-rotate(222deg) brightness(94%) contrast(92%) !important;
        }
        
        a .svg-icon {
            background-color: var(--primary-background-color) !important;
        }

        .headerLeaRetour:hover,
        .headerNavbarLink:hover,
        #headerOmnivoxLogo,
        .card-panel-content {
            background-color: var(--secondary-background-color) !important;
        }
        
        .card-panel {
            background-color: var(--secondary-background-color) !important;
        }

        html body .contenuMenuGroupeLEASelectV3estdMenuV2,
        html body.contenuMenuGroupeSelectAutreCGV3estd,
        .coursInactif-N {
            background-color: var(--secondary-background-color) !important;
            color: var(--important-text-color) !important;
            border: 2px solid var(--secondary-background-color) !important;
            border-radius: 5px !important;
        }


        body,
        body a,
        .infoCGNoCours,
        .titre-menu-middle,
        .infoCGNomCours,
        .infoCGNoGroupe {
            color: var(--primary-text-color) !important;
        }

        .td-liens,
        .tdMenuMesClassesAENS_DISPO,
        .tdMenuNonAccessibleMesClasses,
        #tdMenuMesClassesPERE,
        .section-droite,
        #headerImage,
        h1.classes-titre {
            display: none;
        }

        .trBandeau {
            height: 78px;
        }

        .td-menu {
            border-right: 3px solid var(--important-text-color);
            margin-right: 30px !important;
            background-color: var(--secondary-background-color) !important;
        }


        .cvirContenuCVIR *,
        .TitreCategorie div * {
            color: var(--primary-text-color) !important;
        }

        #colonneEtoileVisualisation img.classeEtoileNouvDoc {
            display: none !important;
        }

        #colonneEtoileVisualisation::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: currentColor;
            -webkit-mask: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'>\
<path d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z'/>\
</svg>") no-repeat center;
        }

        .LigneListTrav1 .lienTruncate img,
        .LigneListTrav2 .lienTruncate img
        {
            display: none;
        }



        .LigneListTrav1 .lienTruncate:has(img)::before,
        .LigneListTrav2 .lienTruncate:has(img)::before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-color: currentColor;

            -webkit-mask: url("data:image/svg+xml;utf8,\
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'>\
            <path d='M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0'/>\
            <path d='M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z'/>\</svg>") no-repeat center;

            mask: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'>\
<path d='M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0'/>\
<path d='M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z'/>\
</svg>") no-repeat center;
        }

        .EnteteListTabTravauxEtu {
            background-image: none;
            border-bottom: 2px solid var(--important-text-color);
        }

        .EnteteListTabTravauxEtu * {
            color: white !important;
        }

        #tabListeTravEtu * {
            color: var(--primary-text-color) !important;
            font-style: normal;
        }

        .LigneListTrav1,
        .LigneListTrav2,
        .LigneListTrav1Last,
        .LigneListTrav2Last {
            background-color: var(--primary-background-color);
        }

        #tabListeTravEtu {

            background-color: var(--secondary-background-color) !important;
            border: 2px solid var(--important-text-color);
            border-radius: 10px;
            padding: 10px;
        }

        table[width="300"] tbody tr:nth-last-child(-n + 5) {
            display: none !important;
        }


        #region-raccourcis-services-skytech {
            margin-top: 144px;
            text-align: center;
            width: 80% !important;
            border-bottom: 3px solid var(--important-text-color);
            padding-left: 0px;
            align-content: center !important;
        }

        .width-menu {
            padding-top: 25px !important;
        }

        .width-menu:has(.cgTitleMesServices) {
            width: 50%;
            border-bottom: 2px solid var(--important-text-color) !important;
        }

        .CVIR_tdLegendeTitre,
        .CVIR_tdLegendeTitre img,
        .CVIR_tdLegendeTexte,
        #tblExplicationsEtudiant,
        #titrelblConseilSauvegarde,
        #titrelblConseilZipEstd,
        .parent-menu-gauche img {
            display: none;
        }

        .classes-wrapper.materialize-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 16px;
            width: 100% !important;
            max-width: 1000px !important;
        }


        .parent-menu-gauche * {
            background-color: var(--secondary-background-color) !important;
            background-image: none;
        }


        #tblDocuments,
        #tblDocuments table,
        #tblDocuments tbody,
        #tblDocuments tr,
        #tblDocuments td {
            background-color: var(--primary-background-color) !important;
            color: var(--primary-text-color) !important;
            border-collapse: collapse !important;
        }

        #tblDocuments th,
        .HeaderTblDoc,
        .DisDoc_TitreCategorie {
            background-color: var(--secondary-background-color) !important;
            color: var(--primary-text-color) !important;
            padding: 8px !important;
        }

        td.colDistribue,
        td.colVoirTelecharger,
        td.colModifierSupprimer,
        span.DocDispo {
            color: var(--secondary-text-color) !important;
        }


        a.lblTitreDocumentDansListe:hover,
        .divDescriptionDocumentDansListe a:hover {
            color: var(--text-muted) !important;
            text-decoration: underline !important;
        }

        .item-header-title {
            color: white !important;
        }

        .cvirLienCoursShadow,
        .tblMenuStyleXPDeuxNiveaux {
            background-color: var(--secondary-background-color) !important;
        }
    }

    @-moz-document url-prefix("https://climoilou-lea.omnivox.ca/cvir/dtrv/DepotTravail.aspx") {

        /**
            ============
            Dépot travail
            ============
        **/
        .collection .collection-item {
            background-color: var(--secondary-background-color);
            border-radius: 10px;
            margin: 10px;
            border-bottom: none;
            border: 15px solid var(--secondary-background-color);
        }

        .blue.lighten-3 {
            background-color: var(--important-background-color) !important;
            border-radius: 10px;
        }

        .TitrePageLigne1,
        .TitrePageLigne2 {
            color: var(--primary-text-color);
        }
    }

    @-moz-document url-prefix("https://climoilou.omnivox.ca/apps/mfa/login") {
        
        /*
        =============
        2FA
        =============
        */
        
        body {
            background-image: none !important;
            min-height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 100% !important;
            width: 100%;
        }


        .container-roles {
            border: 2px solid var(--important-background-color) !important;
        }


        body,
        .identification-intraflex {
            background-color: var(--primary-background-color) !important;
            max-height: 400% !important;
            
            
        }
        
        .css-o6nrg,
        .css-1klvjok,
        .css-lqosa6{
            color : var(--important-text-color);
        }


        .MuiAppBar-colorPrimary {
            background-color: var(--secondary-background-color);
           border-radius : 5px;
            top : 25px;
            border: 3px solid var(--important-text-color);
        }

        .MuiPaper-rounded {
            background-color: var(--secondary-background-color);
            color: var(--primary-text-color);
            border: 3px solid var(--important-text-color);
        }

        .MuiPaper-rounded a {
            color: var(--important-text-color);
        }

        .MuiOutlinedInput-root {
            background-color: var(--primary-text-color);
            border: 3px solid var(--important-text-color);
        }
        
        .css-qpaout {
            border: 3px solid var(--important-text-color);
                        color: var(--primary-text-color) !important;
            background-color: var(--primary-background-color) !important;
        }
        
        .css-134gm5v {
            text-decoration : underline var(--important-text-color) !important;
        }

        .css-yaj4yk {
            color: var(--important-text-color);
            background-color: var(--primary-text-color);
            border-radius: 5px;
            padding: 2px;
            border: 2px solid var(--important-text-color) !important;
        }
        
        .css-x305ps.Mui-checked {
            color : var(--important-text-color);
        }
        
        .MuiFab-circular {
            background-color: var(--important-background-color);
            color : var(--important-text-color);
        }
    }




    @-moz-document url-prefix("https://climoilou-estd.omnivox.ca/") {

        /** pas trop sur ca sert a quoi **/
        body {
            background-color: var(--primary-background-color) !important;
        }

        body,
        body a {
            color: white !important;
        }

        .ovx10_lienService,
        #headerNavbarProfileUserName {
            color: var(--primary-text-color) !important;
            font-weight: normal !important;
        }

        .headerLeaRetour:hover,
        .headerNavbarLink:hover,
        #headerOmnivoxLogo:hover,
        #wrapper-headerOmnivoxLogo:hover {
            background-color: var(--secondary-background-color) !important;
        }

        #headerFixedBar,
        .page-body {
            background-color: var(--primary-background-color) !important;
        }

        .card-panel,
        form tbody *,
        center table tbody * {
            background-color: var(--secondary-background-color) !important;
            color: white !important;
        }

        .card-infos *:not(.material-icons) {
            color: white !important;
        }

        .card-infos .material-icons {
            color: var(--primary-background-color) !important;
        }

        .btn {
            background-color: var(--secondary-background-color) !important;
        }


        /* STYLES POUR SECTIONS SPECIFIQUES */
        #grille-cheminement * {
            background-color: var(--secondary-background-color) !important;
            color: white !important;
        }
    }

    @-moz-document url-prefix("https://climoilou.omnivox.ca/WebApplication/Module.MIOE/") {

        /**
            ============
            MIO
            ============
        **/
        html body,
        #container{
            background-color: var(--primary-background-color) !important;
            background-image : none;
        }
        
        #ctl00_bodyPage #container {
            top : 60px;
        }
        
        #container:has(#mnuPrWr) {
            top : 0px;
        }

        #ctl00_cntFormulaire_upnListe {
            background-color: var(--secondary-background-color) !important;
            color: var(--primary-text-color) !important;
        }
        #ctl00_cntFormulaire_upnListe span,
        #ctl00_cntFormulaire_upnListe em,
        .lsTdTitle,
        .cSujet,
        .dest_professeur,
        .lstDestH .tblDest .nd,
        .leftHeader,
        .cDate,
        #menuBarreOutilsOptionsWrapper a {
            color: var(--primary-text-color) !important;
        }

        .newmsg {
            background-color: var(--important-text-color) !important;
        }

        :root {
            --svgcolor: var(--important-text-color);
        }

        .highlight {
            background-color: var(--important-background-color) !important;
            background-image: none;
        }

        #menuBarreOutilsOptionsWrapper {
            background-color: var(--secondary-background-color);
            border-radius: 3px;
        }
        
        .divRechercheMio {
            padding : 0px;
            margin-left : 5px;
        }
        
        #tdLeftMenu {
            background-image : none;
        }


        #menuBarreOutils {
            border: none;
            padding-right: 0px;
            padding-left : 0px !important;
        }

        #tdLogo img,
        #tdRepeatSky,
        #fakeGrip {
            display: none;
        }

        #header {
            margin-top: 30px !important;
        }

        #AucunMsgLstWrapper {
            margin-top: 30px !important;
            display: none;
        }

        #footer .MenuPrincipalBoxSpace {
            background-image: none;
            background-color: var(--secondary-background-color);
            border: none;
            border-radius: 3px;
            margin-left : 5px;
        }

        #contenuWrapper {
            background-color: var(--primary-background-color);
            padding: 15px;
            border-radius: 3px !important;
        }

        .Msg .cBody {
            background-color: var(--secondary-background-color) !important;
            padding: 0px;
            color: var(--primary-text-color);
        }

        .Msg tbody {
            background-color: var(--secondary-background-color) !important;
            padding : 10px;
             border-radius: 3px !important;
            margin : 0px !important;
        }
        
        #container {
            padding-left : 0px;
        }
        
        .usageGreen {
            background-color: var(--important-text-color);
        }

        .usageBG {
            border: none;
            background-color: var(--primary-background-color);
        }

        #mnuPrWr {
            background: none;
            border: none;
            background-color: var(--secondary-background-color);
            border-radius: 3px;
            padding-bottom : 5px;
            margin-left : 5px;
        }
        

        #ctl00_bodyPage {
            background-image: none;
        }

        #frGauche {
            display: none !important;
        }

        #menuCommQuitter {
            background: none;
            border-right: none;
        }
        
        #ctl00_cntFormulaire_upnListe .Legende {
            margin-bottom : 0px;
        }

        #ctl00_cntFormulaire_hlkThemes {
            text-shadow: none;
            color: var(--important-text-color);
            padding-right: 20px;
        }

        #tdRepeatMenu,
        .tblTrierFiltrer {
            background-image: none;
        }
        

        .tblTrierFiltrer {
            background-color: var(--secondary-background-color) !important;
            color: var(--primary-text-color);
            height : 0px;
        }
        
        .norm td,
        tr.toprow td{
            border-bottom : 2px solid black !important; 
        }
        
        nav,
        #wrapper-headerOmnivoxLogo{
            background-color: var(--primary-background-color) !important;
        }

        #txtRechercheMIO {
            font-style: normal !important;
            color: var(--primary-background-color);
            border : none;
            background-color: var(--primary-text-color);
            
        }
        
        .divBoutonsRechercheMIO {
            border : none;
            background-color: var(--primary-text-color);
            
        }

        #tdRepeatSky {
            background-image: none;
        }
    }
